<script src='<%= "http://#{request.host}:9292/faye/client.js" %>'></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
<h3>Simple chat example with Rails and AngularJS</h3>
<div ng-app>
  <div ng-controller="ChatCtrl">
    <p>
      <button ng-click="open()" class="btn">Open</button>
      chat in another window.
    </p>
    <p>All messages will appear there in realtime</p>

    <div class="alert alert-success" role="alert">
      Chat messages will be lsited here
    </div>
    <button ng-click="clear()" class="btn btn-danger">Clear</button>
    <br><br>

    <div class="well" ng-repeat="message in messages">
      {{message.text}}
    </div>
    <form name="messageForm" class="form-inline" role="form" ng-submit="send()" novalidate>
      <div class="form-group">
        <input type="text" ng-model="message" class="form-control" autofocus>
      </div>
      <input type="submit" class="btn btn-success" value="Send">
    </form>
  </div>
</div>
<script>
    function ChatCtrl($scope, $http) {
        $scope.messages = [];
        $http.get('/messages').success(function (data) {
            $scope.messages = data;
        });
        $scope.send = function () {
            $http.post('/messages', {message: {text: $scope.message}})
                    .success(function (data) {
                        $scope.message = "";
                    })
                    .error(function (data) {
                        console.log(data);
                    })
        };
        $scope.clear = function () {
            $http.get('/messages/clear');
        };
        $scope.open = function () {
            window.open('/messages/chat');
        };
        var client = new Faye.Client('http://' + '<%= FAYE[:address] %>' + ':9292/faye');
        client.subscribe("/messages/new", function (data) {
            $scope.$apply(function () {
                $scope.messages.push(data);
            });
        });
        client.subscribe("/messages/all", function (data) {
            $scope.$apply(function () {
                $scope.messages = data;
            })
        })
    }
</script>
