<tabs></tabs>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>
                Email
            </th>
            <th>
                Phone Number
            </th>
        </tr>
        </thead>
        <tbody ng-repeat-start="account in accounts" ng-click="account.select()">
        <tr class="clickable">
            <td>
                {{account.data.email}}
            </td>
            <td>
                {{account.data.phone_number}}
            </td>
        </tr>
        </tbody>
        <tbody ng-repeat-end ng-if="account.selected">
        <tr>
            <th>
                Status
            </th>
            <th>
                Amount
            </th>
            <th>
                Date
            </th>
        </tr>
        <tr ng-repeat="transaction in account.data.transactions">
            <td>
                {{transaction.data.status}}
            </td>
            <td>
                {{transaction.data.amount}}
            </td>
            <td>
                {{transaction.data.created_at | date:'yyyy-MM-dd HH:mm:ss Z'}}
            </td>
        </tr>
        </tbody>
    </table>
</div>