<h2>Thanks, the payment was successful!</h2>

<h3>List of all payments:</h3>

<% @charges.each do |charge| %>
    <div class="well">
      Client email: <%= charge.email %>
      <br>
      Payment amount: <%= number_to_currency(charge.amount.to_f/100) %>
      <br>
      Created: <%= charge.created_at.strftime("%F %T") %>
    </div>
<% end %>