<h2>Stripe checkout example</h2>
<%= form_tag charge_index_path do %>

    <p>Make example payment of 5$.<br>
      Enter the test number <b>4242 4242 4242 4242</b>,<br>
      a three digit CVC and any expiry date in the future.</p>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.application.config.stripe[:publishable_key] %>"
            data-description="Example payment"
            data-amount="500"></script>
<% end %>