<h1>FB integration demo</h1>
<button id="fbLogin" class="btn" style="display: none">Login with Facebook</button>
<div id="friends"></div>
<script>
    var fbBtn = $('#fbLogin');
    var login = function () {
        fbBtn.click(function () {
            FB.login((function (response) {
                if (response.authResponse) {
                    fetchFriends();
                } else {
                    console.log('User cancelled login or did not fully authorize.');
                }
            }), {
                scope: 'user_friends'
            });
        });
        fbBtn.show();
    };
    var fetchFriends = function () {
        FB.ui({
            method: 'apprequests',
            message: 'Ship2myId'
        }, function (response) {
            FB.ui({
                method: 'send',
                link: 'https://www.ship2myid.com',
                to: response.to[0]
            });
        });
    };
    $(document).ready(function () {
        $.ajaxSetup({
            cache: true
        });
        $.getScript('//connect.facebook.net/en_UK/all.js', function () {
            FB.init({
                appId: '264999380359366'
            });
            FB.getLoginStatus(function (response) {
                if (response.status === 'connected') {
                    fetchFriends();
                } else {
                    if (response.status === 'not_authorized') {
                        login();
                    } else {
                        login();
                    }
                }
            });
        });
    });
</script>