<h1>Create event</h1>
<%= form_for :calendar, url: {action: 'index', format: :ics} do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :start_date %>
      <%= f.text_field :start_date, class: 'form-control' %>
      <p class="help-block">YYYY-MM-DD HH:MM</p>
    </div>
    <div class="form-group">
      <%= f.label :end_date %>
      <%= f.text_field :end_date, class: 'form-control' %>
      <p class="help-block">YYYY-MM-DD HH:MM</p>
    </div>
    <%= f.submit 'OK', class: 'btn btn-block btn-lg btn-success' %>
<% end %>