<h2>Twitter direct messages example</h2>
<h3>Authenticated user:</h3>
<%= link_to @user.url.to_s, target: '_blank' do %>
    <div>
      <%= image_tag @user.profile_image_url, class: 'img-rounded' %>
      <%= @user.name %>
    </div>
<% end %>
<h3>Direct messages:</h3>
<% @messages.each do |message| %>
    <p><em>Text:</em></p>
    <p>
      <%= message.text %>
    </p>
    <p><em>From:</em></p>
    <%= link_to message.sender.url.to_s, target: '_blank' do %>
        <div>
          <%= image_tag message.sender.profile_image_url, class: 'img-rounded' %>
          <%= message.sender.screen_name %>
        </div>
    <% end %>
<% end %>

