<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
<div ng-app>
  <div ng-controller="TodoCtrl">
    <div class="jumbotron">
      A ToDo example on AngularJS & Bootstrap
      <span class="badge">{{toDos.length}}</span>
    </div>
    <div class="input-group input-group-lg">
      <input type="text" class="form-control" placeholder="Lets do ..." ng-keypress="submit($event)" ng-model="toDoBody">
    </div>
    <br>
    <div class="well" ng-repeat="toDo in toDos track by $index">
      <input type="checkbox" ng-model="toDo.completed" ng-change="save()">
      <span ng-class="{strike: toDo.completed}">
        {{toDo.body}}
      </span>
      <button class="close" ng-click="remove($index)">&times</button>
    </div>
  </div>
</div>
<script>
    function TodoCtrl($scope) {
        function preserve(){
            localStorage.setItem('todos', JSON.stringify($scope.toDos));
        }
        $scope.toDos = [];
        var tmp = JSON.parse(localStorage.getItem('todos'));
        if (tmp != null) {
            $scope.toDos = tmp;
        }
        $scope.submit = function(keyEvent){
            if (keyEvent.which === 13){
                if ($scope.toDoBody != ''){
                    $scope.toDos.push({body: $scope.toDoBody, completed: false});
                    $scope.toDoBody = '';
                    preserve()
                }
            }
        };
        $scope.save = function(){
            preserve();
        };
        $scope.remove = function(index){
            $scope.toDos.splice(index,1);
            preserve();
        }
    }
</script>
