<h1>Upload an image with</h1>
<%= form_for Icon.new, html: {multipart: true} do |f| %>
    <div class="form-group">
      <%= f.file_field :image, class: 'form-control' %>
    </div>
    <%= f.submit 'Convert', class: 'btn btn-block btn-lg btn-success' %>
<% end %>