<h1>Image was converted</h1>
<%= link_to 'Download archive', icon_path(@icon, format: :zip), class: 'btn btn-success' %>
<table class="table">
    <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
    </thead>
  <tbody>
  <tr>
    <td>
      <%= image_tag @icon.image.url(:'72') %>
    </td>
    <td>
      72x72 icon
    </td>
  </tr>
  <tr>
    <td>
      <%= image_tag @icon.image.url(:'100') %>
    </td>
    <td>
      100x100 icon
    </td>
  </tr>
  <tr>
    <td>
      <%= image_tag @icon.image.url(:'144') %>
    </td>
    <td>
      144x144 icon
    </td>
  </tr>
  </tbody>
</table>

