<div class="alert alert-success" role="alert">
  Tweets are listed below
</div>
<br>
<% @tweets.each do |tweet| %>
    <div class="well">
      Tweet body: <%= tweet.text %>
      <br>
      Tweet <%= link_to 'url', tweet.url.to_s, target: '_blank' %>
    </div>
<% end %>
