<h2 class="text-center">Twitter streaming example</h2>

<p>
  Click the button to start streaming.<br>
  <strong>You will need to wait for 5 seconds to see the results</strong><br>
  App will post 3 random tweets to twitter through API.<br>
  Then it will get this tweets through <strong>user streaming twitter API</strong> and render them.<br>
  Url of each tweet will be displayed to ensure this is not fake.
</p>

<%= link_to 'Start', streaming_index_path, method: 'post', class: 'btn btn-success' %>
