<h1>Reports</h1>
<table class="table table-responsive">
  <thead>
    <tr>
      <th>
        First field
      </th>
      <th>
        Second field
      </th>
      <th>
        Third field
      </th>
      <th>
        Created at
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |report| %>
        <tr>
          <td>
            <%= report.first_field %>
          </td>
          <td>
            <%= report.second_field %>
          </td>
          <td>
            <%= report.third_field %>
          </td>
          <td>
            <%= report.created_at.strftime('%-d/%-m/%Y %H:%M') %>
          </td>
          <td>
            <%= link_to 'Download CSV', report_path(report,format: :csv), class: 'btn btn-success' %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>

