<h1>Create report</h1>
<% unless @errors.nil? %>
    <% @errors.each do |error| %>
        <div class='alert alert-dismissible alert-danger' role='alert'>
          <button class="close" type="button" data-dismiss="alert">
            <span area-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <%= error %>
        </div>
    <% end %>
<% end %>
<%= form_for Report.new do |f| %>
    <div class="form-group">
      <%= f.label :first_field %>
      <%= f.text_field :first_field, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :second_field %>
      <%= f.text_field :second_field, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :third_field %>
      <%= f.text_field :third_field, class: 'form-control' %>
    </div>
    <%= f.submit 'Save', class: 'btn btn-block btn-lg btn-success' %>
<% end %>
